<div class="header">
  <div class="header-content">
    <h2 class="header-title">Quản Lý Dự Án FPoly</h2>
    <!-- <nav>
      <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a> |
      <a [routerLink]="['/projects']" routerLinkActive="active">Projects</a> |
      <a [routerLink]="['/projects/add']" routerLinkActive="active">Add Project</a> |
      <a [routerLink]="['/tasks/add']" routerLinkActive="active">Add Task</a>
      <a [routerLink]="['/tasks']" routerLinkActive="active"> Task</a>
    </nav> -->
    <div class="nav-items">
      <div class="nav-items-left">
        <div *ngFor="let item of items" class="nav-item">
          <a nz-button [routerLink]="[item.routerLink]" routerLinkActive="active">
            <i nz-icon [nzType]="item.icon" nzTheme="outline"></i> {{ item.label }}
          </a>
        </div>
      </div>
      <div class="search-box">
        <input type="text" class="search-input" placeholder="Tìm kiếm" />
        <button class="search-button">Tìm</button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <p-menubar [model]="items" />
</div> -->
